nav{position: sticky;
    top: 0;
    color:#7B4F2E;
    width:100%;
    text-decoration:none;

}
body{width:100%;
    align-items:center;
    background-position:cover;
    background-size:cover;
    overflow-x:hidden;
    height:1000px;
    line-height:1.6;


}
img{max-width:100%;
    display:block;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.eyebrow{font-size:29px;
         font-style:Castellar;
         color:goldenrod;
         text-align:center;
         padding-top:120px;
        
}
.hood{font-size:60px;
   color:whitesmoke;
   text-align: center;
   font-weight:bolder;
   font-weight: 900;
   font-family:'Poppins',sans-serif;

}

.sub-heading{font-size:20px;
    text-align:center;
    color:white;

}
.nav-links{display:flex;
    flex-direction:row;
   justify-content:center;
    gap:20px;
    
}
.btn-active{background-color:#d76106;
            font-size:20px;
            color:white;
            font-style:italic;
            text-decoration:none;
            border:2px solid white;
            padding:0.857rem 1rem;

           

}
.btn-lazy{background-color:transparent;
          font-size:20px;
          font-style:italic;
          text-decoration:none;
          color:white;
          border:2px solid white;
           padding:1rem 2rem;
          

}
.header{background-color:#4b2001;
        width:100%;
        min-height:650px;
        position:center;
        align-items:center;
}

.wording{align-items:center;
         padding:20px;
         text-align:center;
}
.bread-shakers{display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:2rem;
    padding:4rem 5%;
    max-width:1100px;
    margin: 0 auto;
    text-align:center;
    
}
.game{text-align:center;
    padding-top:80px;
    grid-column: 1 /-1;
    padding-bottom: 2rem;
    

}
.bitchin{color:rgb(109, 245, 109);
         font: size 29px;
}
.batian{font-weight:600;
        font-size:55px;
        color:rgb(63, 1, 1);
        padding-top:12px;
        padding-bottom: 12px;


}
.lenana{color:brown;
    font-size:18px;
    

}
.about-us{width:800px;
    background-color: #773400;
    width: 100%;

}
.card-image{height:100px;
    width:180px;
    overflow:hidden;
}
.card-image img{width:100%;
                height:180px;
                overflow:hidden;
                background-color:bisque;
}
.card{border-radius:;
    overflow:hidden;
    

}